@import '../helpers/mixins';
@import '../helpers/variables';

.button {
  @include transition;
  @include font(16px, 0.875, 600, $font-family-secondary);

  flex: none;
  position: relative;
  z-index: 1;
  padding: 20px 34px 18px 34px;
  border-radius: 28px;
  border: 2px solid $purple-600;
  background: transparent;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1em;
  color: #fff;
  cursor: pointer;

  &:after {
    @include transition;

    content: '';
    position: absolute;
    inset: -2px;
    z-index: -1;
    border-radius: 28px;
    background: linear-gradient(105.96deg, $deep-purple-700 13.07%, $purple-500 85.2%);
  }

  &:hover:after,
  &:active:after,
  &:focus:after {
    opacity: 0;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &[disabled] {
    opacity: 0.45;
    pointer-events: none;
  }
}

