section.section
  .section__inner
    .about
      .about__body
        h2.h2.about__title О нас
        h3.h3.about__subtitle Техподдержка от бесперебойного аутсорс-продакшна

        .about__text
          p Являясь партнером более 30 агентств, которые доверили нам 100+ проектов и могут подтвердить качество работы, мы сформировали новую услугу, использовав весь опыт, накопленный в первом юните.
          p Manao.Support — это концентрация системной работы, четких процессов и регламентов, позволяющих минимизировать ситуации, когда исполнители о чем-то забыли, не завершили часть задачи или просто некорректно ее поняли.

      img.about__figure(src='./images/about-img-big.webp', alt='#')

      .about__gallery.images-grid
        img.images-grid__item(src='./images/about-img1.webp', alt='#')
        img.images-grid__item(src='./images/about-img2.webp', alt='#')

      //img.about__figure(src='./images/about-img-big.webp', alt='#')
