-
  var cards = [
    'card-img1',
    'card-img2',
    'card-img3',
    'card-img4',
    'card-img5',
    'card-img6',
    'card-img7',
    'card-img8',
  ]

.payment
  each card in cards
    img.payment__item(src=`./images/${card}.webp`, alt='#')
