// Color palettes
$grey-100: #eae8ec;
$grey-200: #c4c4c4;
$grey-500: #777;
$grey-700: #333;

$purple-300: #ab47bc;
$purple-500: #791281;
$purple-600: #591078;

$deep-purple-50: #f6f4f9;
$deep-purple-200: #7e779a;
$deep-purple-500: #473E69;
$deep-purple-700: #3f0f72;
$deep-purple-800: #090B32;
$deep-purple-900: #040b2a;

$red: #fe3636;

// Fonts
$font-size-base: 16px;
$line-height-base: 1.5;
$font-family-base: Pragmatica, Helventica, Arial, sans-serif;
$font-family-secondary: 'TT Commons', Helventica, Arial, sans-serif;

// Sizes
$shell-width: 1200px;
$shell-padding: 15px;

// -------- Animations -----------
$duration-base: 0.15s;
$timing-function-base: ease-out;

// Breakpoints
$screen-xxs: 414px;
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1024px;
$screen-xl: 1240px;


$screen-860: 860px;
$screen-1024: 1024px;
$screen-1440: 1440px;
$screen-1920: 1920px;
