@import '../helpers/variables';
@import '../helpers/mixins';

/* footer */
.footer {
  overflow: hidden;
  background-color: $deep-purple-800;
  color: #fff;

  @media (min-width: $screen-1440) {
    background-image:
      url('./../images/footer-bg1.webp'),
      url('./../images/footer-bg2.webp');
    background-position: 0 0, top 0 right 0;
    background-repeat: no-repeat;
  }
}

.footer__inner {
  max-width: $shell-width;
  padding: 0 $shell-padding;
  margin: 0 auto;
}

.footer__grid {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 64px 0 54px 0;
  gap: 40px;
  isolation: isolate;

  @media (min-width: $screen-sm) {
    padding-top: 80px;
  }

  @media (min-width: $screen-xl) {
    display: grid;
    grid-template-columns: 438px 1fr;
    grid-template-areas:
      "hgroup form"
      "contacts form";
    align-items: start;
    gap: 88px 52px;
  }

  @media (min-width: $screen-xl) {
    padding: 115px 0 90px 0;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 130px;
    z-index: -1;
    transform: translate(-50%, -60%);
    content: '';
    width: 1440px;
    aspect-ratio: 1;
    opacity: 0.6;
    background: radial-gradient(rgba(143, 32, 126, 0.5) 0%, transparent 80%);
    pointer-events: none;
  }

  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(55%, 40%);
    content: '';
    z-index: -1;
    width: 1160px;
    aspect-ratio: 1;
    opacity: 0.6;
    background: radial-gradient(rgba(92, 17, 181, 0.3) 0%, transparent 70%);
    pointer-events: none;
  }
}

.footer__hgroup {
  grid-area: hgroup;
}

.footer__contacts {
  grid-area: contacts;
  margin-top: 10px;

  @media (min-width: $screen-xl) {
    margin-top: 0;
  }
}

.footer__form {
  grid-area: form;
}

.footer__title {
  margin: 0;
}

.footer__label {
  margin: 15px 0 0 0;
  font-size: 18px;
  line-height: 1.44;
  color: $deep-purple-200;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 40px 0 42px 0;
  gap: 30px;

  @media (min-width: $screen-xl) {
    flex-direction: initial;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__helpers {
  @include font(15px, 1, 400, $font-family-secondary);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
  padding-top: 4px;

  @media (min-width: $screen-xl) {
    flex-direction: initial;
    gap: 46px;
  }
}

.footer__helper {
  @include transition;

  border-bottom: 1px solid transparent;
  color: $deep-purple-200;
  text-decoration: none;

  &:hover {
    color: #fff;
    border-color: currentColor;
  }
}
/* !footer */

/* contacts */
.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 22px;
  grid-area: contacts;

  @media (min-width: $screen-xl) {
    padding-left: 46px;
  }
}

.contacts__item {
  &_floating {
    @media (min-width: $screen-xl) {
      position: absolute;
      left: 0;
      bottom: 6px;
      transform: rotate(180deg);
      writing-mode: vertical-lr;
    }
  }
}

.contacts__label {
  font-size: 14px;
  line-height: 1.142;
  color: $deep-purple-200;
}

.contacts__value {
  @include font(20px, 1.136, 500, $font-family-secondary);

  margin-top: 10px;

  @media (min-width: $screen-xl) {
    font-weight: 700;
  }
}
/* !contacts */

/* social-links */
.social-links {
  @include font(16px, 1.125, 600, $font-family-secondary);

  display: flex;
  gap: 28px;
  color: #fff;
}

.social-links__item {
  position: relative;

  &:not(:first-child):before {
    position: absolute;
    top: 50%;
    left: -14px;
    transform: translateY(-50%);
    content: '';
    width: 3px;
    aspect-ratio: 1;
    background: currentColor;
    border-radius: 50%;

    @media (min-width: $screen-xl) {
      top: -14px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.social-links__link {
  @include transition;

  text-decoration: none;
  color: #fff;

  &:hover {
    color: $deep-purple-200;
  }
}
/* !social-links */
