@import '../helpers/mixins';
@import '../helpers/variables';

.payment {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.payment__item {
  @include transition;

  flex: none;
  border-radius: 1px;
  cursor: pointer;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}
