mixin head()
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0')
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name="description" content="short description of Manao")

  title Manao Landing Page

  link(rel='stylesheet' href='libraries/swiper-bundle.min.css')

  link(rel='stylesheet', href=`css/common.css`)

  link(rel='stylesheet', href='css/helpers/utilities.css')

  script(src='libraries/swiper-bundle.min.js', defer)
  script(src='js/init.js', defer)
